header {

	background-color: lavender;
	color: gray;
	border: 2px;
	border-style: solid;
	border-radius: 10px;

}

.wrapper {

	/*display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	padding: 30px;*/

}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 120px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	background-color: gray;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.memoryCards {

	height: 150px;
	width: 120px;
	border: 2px;
		border-color: gray;
		border-style: solid;
		border-radius: 10px;
	background-color: lavender;


}