body {
	background-color: black;
}

header {
	background-color: lavender;
	color: gray;
	border: 2px;
	border-style: solid;
	border-radius: 10px;
}

img {
	flex-basis: auto;		
	height: 150px;
	width: 120px;
	border: 2px;
		border-color: gray;
		border-style: solid;
		border-radius: 10px;
}

.wrapper {
	display: flex;
	display: -webkit-flex;
		flex-direction: row;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	padding: 30px;
	perspective: 1000px;
	position: relative;
}

.memoryCards {
	position: absolute;
	transform-style: preserve-3d;
  	transition: transform 1s;
}

.back {
	transform: rotateY( 180deg );
}

.memoryCards.flipped {
	transform: rotateY( 180deg );
}