header {

	background-color: lavender;
	color: gray;
	border: 2px;
	border-style: solid;
	border-radius: 10px;

}

.cards {

	height: 150px;
	width: 120px;
	border: 2px;
		border-color: gray;
		border-style: solid;
		border-radius: 10px;
	background-color: lavender;


}

.wrapper {

	display: flex;
	display: -webkit-flex;
		flex-direction: row;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	padding: 30px;*/

}
